@import url('https://fonts.googleapis.com/css?family=PT+Sans|Libre+Baskerville');

body {
  font-family: "PT Sans", Helvetica, sans sans-serif;
  color: #535657;
  background-color: #4F646F;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: "Libre Baskerville", Helvetica, sans-serif;
  margin: 0;
  font-weight: 100;
  font-size: 1.75em;
  font-weight: bold;
}

h3 {
  font-family: "Libre Baskerville", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

p {
  font-size: 0.9em;
}

h2#firstname {
  margin-top: 1.75em;
}

h2#lastname {
  color: #919394;
}

header {
  background-color: #fcfcfc;
  height: 4em;
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 4em;
}

nav {
  font-family: "PT Sans", Helvetica, sans-serif;
  background-color: #fcfcfc;
  padding: 0px;
  list-style: none;
  font-weight: bold;
  font-size: 0.8em;
}

ul {
  margin: 0;
  padding-top: 0.5em;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #919394;
}

.section {
  display: inline-block;
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 1em;
  margin: 0 auto;
  position: relative;

}

#about {
  background-color: #DEE7E7;
}

#projects {
  background-color: #4F646F;
  color: #fcfcfc;
  height: 100%;
}

.section_main_text {
  padding-left: 2em;
}

#about:after {
    content:'';
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px #DEE7E7;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    z-index: 1;
}

#about a:link, a:visited {
  font-weight: bold;
}
#projects a:visited {
  color: #B6BEBE;
}

#job_description {
  font-size: 0.9em;
  padding-right: 2em;
  padding-left: 2em;
} 
}

#projects a:link {
  color: #CAD2D2;
}
#projects a:visited {
  color: #B6BEBE;
}

#job_description {
  font-size: 0.9em;
  padding-right: 2em;
  padding-left: 2em;
}

@media only screen and (max-width: 640px){
   .section {
       padding-left: 4em;
       padding-right: 4em;
       padding-bottom: 1em;
   }
  .section_main_text {
    padding-left: 1em;
  }
  #about:after {
    display: none;
  }
 }
